<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.day.mapper.XuexiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.happy.day.entity.Xuexi">
        <id column="sid" property="sid" />
        <result column="price" property="price" />
        <result column="xname" property="xname" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sid, price, xname
    </sql>

</mapper>
